<% if (addedToBasket && addedToBasket.length)  {%>
    
   <div class="container-fluid d-flex align-items-center">
        <div class="alert alert-success alert-dismissible" role="alert" style="width: 100%; ">
            <%= addedToBasket  %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
   </div>
<%} %> 





