<div class="container-fluid mt-4 d-flex justify-content-center mb-5">
    <div class="w-100" style="max-width: 350px;">
        <form action="/login" method="POST" class="validate-form" novalidate>
            <div class="form-outline mb-4">
                <input type="text" id="username" name="username" class="form-control form-control-lg"
                    placeholder="Username" required />
                <div class="invalid-feedback">Please enter your username.</div>
            </div>
            <div class="form-outline mb-4">
                <input type="password" id="password" name="password" class="form-control form-control-lg"
                    placeholder="Password" required />
                <div class="invalid-feedback">Please enter your password.</div>
            </div>
            <button class="btn btn-primary text-center mb-3 w-100">Sign In</button>
        </form>
        <p class="text-center"><b>Or</b></p>
        <a href="/register" class="w-100">
            <button class="btn btn-success w-100">Register</button>
        </a>
    </div>
</div>