<div class="container d-flex justify-content-center" >
    <form style="width: 500px" action="/marketplace/newListing" method="POST" class="validate-form" enctype="multipart/form-data" novalidate>
        <div class="form-outline mb-4">
            <label class="form-label" for="name">Item Name</label>
            <input type="text" id="name" name="marketplace[name]" class="form-control" required />
            <div class="invalid-feedback">Please enter a product name.</div>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="subCategory">Category</label>
            <input type="text" id="subCategory" name="marketplace[subCategory]" class="form-control" required/>
            <div class="invalid-feedback">Please enter a category.</div>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="condition">Condition</label>
            <input type="text" id="condition" name="marketplace[condition]" class="form-control" required/>
            <div class="invalid-feedback">Please specify the products condition.</div>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="size">Size</label>
            <input type="text" id="size" name="marketplace[size]" class="form-control" />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="description">Description</label>
            <textarea type="text" id="description" name="marketplace[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter a description.</div>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="image">Image</label>
            <input type="file" id="image" name="marketplace[marketplaceImage]" class="form-control" >
            <div class="invalid-feedback">Please enter an image URL.</div>
        </div>
        <label class="form-label" for="price">Price</label>
        <div class="input-group form-outline mb-4">
            <span class="input-group-text" id="basic-addon1">£</span>
            <input type="text" id="price" name="marketplace[price]" class="form-control" required/>
            <div class="invalid-feedback">Please enter a price.</div>
        </div>
        <button class="btn btn-success">Post New Listing</button>
    </form>
</div>