<div class="container">
    <form action="/marketplacePost" method="POST" class="" novalidate>
        <div class="form-outline mb-4">
            <label class="form-label" for="itemName">Item Name</label>
            <input type="text" id="itemName" name="itemName" class="form-control" />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="category">Category</label>
            <input type="text" id="category" name="category" class="form-control" />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="description">Description</label>
            <textarea type="text" id="description" name="description" class="form-control"></textarea>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="color">Color</label>
            <input type="text" id="color" name="color" class="form-control" />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="price">Price</label>
            <input type="text" id="price" name="price" class="form-control" />
        </div>
        <button class="btn btn-success">Post New Listing</button>
    </form>
</div>