<nav class=" sticky-top navbar navbar-expand-lg bg-body-tertiary navbar bg-dark d-flex align-items-end nav justify-content-center "
    data-bs-theme="dark" style="height: 120px; padding-top: 70px;">
    <div class="position-absolute bottom-50">
        <h1>Party Supplies</h1>
    </div>
    <div class="container-fluid nav justify-content-center">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-white" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/decorations">Decorations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/balloons">Balloons</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="/themes" role="button" data-bs-toggle="dropdown">
                  Themes
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/christmas">Christmas</a></li>
                  <li><a class="dropdown-item" href="/halloween">Halloween</a></li>
                  <li><a class="dropdown-item" href="/easter">Easter</a></li>
                  <li><a class="dropdown-item" href="/valentines">Valentines</a></li>
                  <li><a class="dropdown-item" href="/stpatricksday">St Patrick's Day</a></li>
                  <li><a class="dropdown-item" href="/birthdays">Birthdays</a></li>
                </ul>
              </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">
                  Fancy Dress
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/mens">Men</a></li>
                  <li><a class="dropdown-item" href="/womens">Women</a></li>
                  <li><a class="dropdown-item" href="/kids">Kids</a></li>
                </ul>
              </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/packages">Packages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/marketplace">Marketplace</a>
            </li>
            <% if (!signedInUser) { %>
            <li class="nav-item">
                <a class="nav-link text-white" href="/login"><span class="material-symbols-outlined">person</span></a>
            </li>
            <%} else { %>
            <li class="nav-item">
                <a class="nav-link text-white" href="/account/<%= signedInUser.username  %>">Account</a>
            </li>
            <li class="nav-item">
                <form action="/logout" method="POST">
                <a class="nav-link text-white" id="logout" name="logout" href="/logout">Logout</a>
                </form>
            </li>
            <%} %>
            <li class="nav-item">
                <a class="nav-link text-white" href="/basket"><span class="material-symbols-outlined">shopping_cart</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/search"><span class="material-symbols-outlined">search</span></a>
            </li>
        </ul>
    </div>
    </div>
</nav>

<!-- Navbar aligning may be due to col spacing on product pages like balloons and decorations -->