<nav class=" sticky-top navbar navbar-expand-lg bg-body-tertiary navbar bg-dark d-flex align-items-end nav justify-content-center "
    data-bs-theme="dark" style="height: 120px; padding-top: 70px;">
    <div class="position-absolute bottom-50">
        <h1>Party Supplies</h1>
    </div>
    <div class="container-fluid nav justify-content-center">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-white" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/decorations">Decorations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/balloons">Balloons</a>
            </li>
            <li class="nav-item dropdown">
                <div class="btn-group">
                    <a href="/themes/occasions"> <button type="button" class="btn text-white">Occasions</button></a>
                    <button type="button" class="btn text-white dropdown-toggle dropdown-toggle-split" style="position:relative; right: 9px;" data-bs-toggle="dropdown"></button>
                    <div class="dropdown-menu">
                       <a class="dropdown-item" href="/themes/christmas">Christmas</a>
                       <a class="dropdown-item" href="/themes/halloween">Halloween</a>
                       <a class="dropdown-item" href="/themes/easter">Easter</a>
                       <a class="dropdown-item" href="/themes/valentines">Valentines</a>
                       <a class="dropdown-item" href="/themes/stpatricksday">St Patrick's Day</a>
                       <a class="dropdown-item" href="/themes/birthdays">Birthdays</a>
                    </div>
                </div>
              </li>
            <li class="nav-item dropdown">
                <div class="btn-group">
                   <a href="/themes/costumes"> <button type="button" class="btn text-white">Costumes</button></a>
                    <button type="button" class="btn text-white dropdown-toggle dropdown-toggle-split" style="position: relative; right: 9px;" data-bs-toggle="dropdown"></button>
                    <div class="dropdown-menu">
                       <a class="dropdown-item" href="/themes/costumes/mens">Mens</a>
                       <a class="dropdown-item" href="/themes/costumes/womens">Womens</a>
                       <a class="dropdown-item" href="/themes/costumes/kids">Kids</a>
                    </div>
                </div>
              </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/packages">Packages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/marketplace">Marketplace</a>
            </li>
            <% if (!signedInUser) { %>
            <li class="nav-item">
                <a class="nav-link text-white" href="/login"><span class="material-symbols-outlined">person</span></a>
            </li>
            <%} else { %>
            <li class="nav-item">
                <a class="nav-link text-white" href="/account/<%= signedInUser.username  %>">Account</a>
            </li>
            <li class="nav-item">
                <form action="/logout" method="POST">
                <a class="nav-link text-white" id="logout" name="logout" href="/logout">Logout</a>
                </form>
            </li>
            <%} %>
            <li class="nav-item">
                <a class="nav-link text-white" href="/basket"><span class="material-symbols-outlined">shopping_cart</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/search"><span class="material-symbols-outlined">search</span></a>
            </li>
        </ul>
    </div>
    </div>
</nav>

<!-- Navbar aligning may be due to col spacing on product pages like balloons and decorations -->