<nav class=" sticky-top navbar navbar-expand-lg bg-body-tertiary navbar bg-dark d-flex align-items-end nav justify-content-center "
    data-bs-theme="dark" style="height: 120px; padding-top: 70px;">
    <div class="position-absolute bottom-50">
        <h1>Party Supplies</h1>
    </div>
    <div class="container-fluid nav justify-content-center">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-white" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/decorations">Decorations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/balloons">Balloons</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/themes">Themes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/fancyDress">Fancy Dress</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/packages">Packages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/marketplace">Marketplace</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/login"><span class="material-symbols-outlined">person</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/basket"><span class="material-symbols-outlined">shopping_cart</span></a>
            </li>
        </ul>
    </div>
    </div>
</nav>

<!-- Navbar aligning may be due to col spacing on product pages like balloons and decorations -->