<div class="container">
    <form action="/" method="POST" class="" novalidate>
        <div class="form-outline mb-4">
            <label class="form-label" for="card-name">Card Holder Name</label>
            <input type="text" id="card-name" name="card-name" class="form-control" />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="card-number">Card Number</label>
            <input type="text" id="card-number" name="card-number" class="form-control" />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="card-expiry-month">Expiration Month</label>
            <input type="text" id="card-expiry-month" name="card-expiry-month" class="form-control" />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="card-expiry-year">Expiration Year</label>
            <input type="text" id="card-expiry-year" name="card-expiry-year" class="form-control" />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="card-cvc">CVC</label>
            <input type="password" id="card-cvc" name="card-cvc" class="form-control" />
        </div>
        <button class="btn btn-primary mb-4">Order</button>
    </form>
</div>