<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Sort By
    </button>
    <ul class="dropdown-menu">
        <li><form action="/<%=name%>" method="GET">
            <button class="dropdown-item" value="sortByNameAZ">Name A - Z</button>
             </form>
       
    </ul>
  </div>