<% layout('layouts/boilerplate')%>
<div class="container text-center">
    <div>
        <h1>Marketplace</h1>
        <div class="d-block py-2">
            <form action="/marketplace/listings" method="GET">
                <button class='btn btn-primary'>Browse Marketplace</button>
                </form>
        </div>
        <div class="d-block py-2 ">
            <form action="/marketplace/newListing" method="GET">
            <button class="btn btn-success">Post New Listing</button>
            </form>
        </div>
       <% if (signedInUser) {%>
            <div class="d-block py-2 ">
                <form action="/account/<%= signedInUser.username %>/listings" method="GET">
                <button class="btn btn-warning">My Listings</button>
                </form>
            </div>     
        <%}%>
       
    </div>
</div>