<% layout('layouts/boilerplate')%>
<div class="container text-center mt-4 ">
    <div>
        <h1>Marketplace</h1>
        <div>
            <img id="marketplaceSplash" src="https://images.unsplash.com/photo-1485182708500-e8f1f318ba72?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1210&q=80" alt="">
        </div>
        <div class="d-block py-2">
            <form action="/marketplace/listings" method="GET">
                <button class='btn btn-primary'>Browse Marketplace</button>
                </form>
        </div>
        <div class="d-block py-2 ">
            <form action="/marketplace/newListing" method="GET">
            <button class="btn btn-success">Post New Listing</button>
            </form>
        </div>
       <% if (signedInUser) {%>
            <div class="d-block py-2 ">
                <form action="/account/<%= signedInUser.username %>/listings" method="GET">
                <button class="btn btn-warning">My Listings</button>
                </form>
            </div>     
        <%}%>
       
    </div>
</div>