
<% layout('layouts/boilerplate')%>
<div class="container text-center">
    <div>
        
        <h1>Post Listing</h1>
        <div class="d-block py-2 ">
            <%- include('../../../partials/marketplaceForm') %>
        </div>
    </div>
</div>