<% layout('layouts/boilerplate')%>
<div class="container text-center">
    <div>
        <h1>Marketplace</h1>
        <div class="d-block py-2">
            <button class='btn btn-primary'>Browse Marketplace</button>
        </div>
        <div class="d-block py-2 ">
            <button class="btn btn-success">Post New Listing</button>
        </div>
    </div>
</div>