<% layout('layouts/boilerplate')%>
<div class="text-center mt-4 container">
    <h1 class="text-center">Login</h1>
    <h5>Please Sign In using your username and password or Register. </h5>
    <hr>
    <%- include('../../partials/loginForm') %>
</div>