<% layout('layouts/boilerplate')%>
    <div class="text-center mt-4 container">
        <h1 class="text-center">Register</h1>
        <h5>Please enter all your details below to Register. </h5>
        <hr>
    <%- include('../../partials/registerForm') %>
</div>