#basketQuantity {
    font-size: 12px;
    background: #4a8d41;
    color: #fff;
    padding: 2px;
    padding-right: 5px;

   
    vertical-align: top;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    border: 1px solid black;
}

#removeBasket:hover {
   color: red;
}

.pageNumber {
        display: block;
        height: 45px;
        width: 40px;
        line-height: 40px;
        -moz-border-radius: 30px; /* or 50% */
        border-radius: 30px; /* or 50% */
        background-color: rgb(119, 115, 115);
        color: white;
        text-align: center;
        font-size: 1.4em;
        border: 2px solid black;
}

#orderDropdown {
    position: relative;
    top: 7px
}

#wishlist:hover {
    color:red;
}
#navbar-wishlist:hover {
    color: rgb(214, 36, 119);
}

.c-item {
    height: 780px;
}

.productShow-item {
    height: 440px;
    width: 405px;
}

.productMain-item {
    height: 440px;
}

.packageMain-item {
    height: 240px;
}

.o-Item {
    height: 150px;
}

.o-img{
   height: 100%;
   width: 80%;
   object-fit: cover;
}

.c-img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}

body {
    font-family: 'Jost';
    background: rgba(197, 228, 248, 0.3) !important;
}

h2.header {
    color: white;
    top: 0;
    font-size: 70px;
    position: absolute;
    top: 160px;
    text-align: center;
    width: 100%;
}

#searchInput {
    background-color: rgba(1, 1, 1, 0) ;
    width: 100px;
    color: white;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}

.navbar-dark {
    background-image: none;
    background: rgba(197, 228, 248, 0.4) !important;
}

#marketplaceSplash {
    object-fit: cover;
    height: 400px;
    width: 800px;
}
