<% layout('layouts/boilerplate')%>
<div class="container-fluid">
    <h1 class="text-center">Delivery Details</h1>
    
    <%- include('../../partials/checkoutForm')  %>
    <br>
    <%- include('../../partials/paymentForm')  %>
</div>