<% layout('layouts/boilerplate')%>
<div class="container-fluid">
    <h1 class="text-center mb-5">Payment Details</h1>

<%- include('../../partials/paymentForm')  %>
</div>
<!-- <script language="JavaScript">
    const needToConfirm = true;
    window.onbeforeunload = confirmExit;
    function confirmExit()
    {
      return "All previoulsy entered order information will be deleted if you leave this page";
    }
  </script> -->