<% layout('layouts/boilerplate')%>
    <div class="text-center">
        <h1>
            <%= product.name%>
        </h1>
        <img class="col-4 img-fluid" src="<%= product.image  %>" alt="">
        <h2>
            <%= product.description %>
        </h2>
        <h2>
            £<%= product.price %>
        </h2>
    </div>