<% layout('layouts/boilerplate')%>
<div>
 
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img src="https://images.unsplash.com/photo-1562967005-a3c85514d3e9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="d-block w-100 c-img" alt="...">
      </div>
      <div class="carousel-item c-item">
        <img src="https://images.pexels.com/photos/6299291/pexels-photo-6299291.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100 c-img" alt="...">
      </div>
      <div class="carousel-item c-item">
        <img src="https://images.pexels.com/photos/6667033/pexels-photo-6667033.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100 c-img" alt="...">
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<br>
    <div class="d-flex flex-row container  align-items-center justify-content-center   ">
    <div class="col-12 col-md-4 mb-4  mx-5" >
        <div class="card text-black" >
            <h2 class="header">Men</h2>
            <a href="/themes/costumes/mens">
                <img  height="310px" 
                    src="https://images.pexels.com/photos/3071456/pexels-photo-3071456.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="card-img-top">
            </a>
            </div>
        </div>
    <div class="col-12 col-md-4 mb-4  mx-5 " >
        <div class="card text-black" >
            <h2 class="header">Women</h2>
            <a href="/themes/costumes/womens">
            <img  height="310px" 
                src="https://images.pexels.com/photos/9391354/pexels-photo-9391354.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                class="card-img-top ">
            </a>
            </div>
        </div>
    <div class="col-12 col-md-4 mb-4  mx-5" >
        <div class="card text-black" >
            <h2 class="header">Kids</h2>
            <a href="/themes/costumes/kids">
            <img  height="310px" 
                src="https://images.pexels.com/photos/5604256/pexels-photo-5604256.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                class="card-img-top">
            </a>
            </div>
        </div>
    </div>
