<% layout('layouts/boilerplate')%>
    
<div class="container text-center">
    <div class="row">
          <h1><%= fancyDress[0].name %></h1>   

          <!-- may need seperate pages for each, also may be able to pass through get route  -->
 </div>
</div>





